[Case Law Access Project API](https://case.law/api/)

In [2]:
import pandas as pd
cases = "https://raw.githubusercontent.com/mkirby1995/Datasets/master/court_cases.json"
df = pd.read_json(cases)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 6 columns):
case_id_numbers    100 non-null int64
case_names         100 non-null object
decision_dates     100 non-null object
court_names        100 non-null object
case_urls          100 non-null object
opinions           100 non-null object
dtypes: int64(1), object(5)
memory usage: 5.5+ KB

In [3]:
df['opinions'].head()

0     MAHONEY, Circuit Judge:\nPlaintiffs-appellants...
1     Opinion for the Court filed by Circuit Judge D...
10    PER CURIAM:\nArthur Calderon, Warden of the Ca...
11    RIPPLE, Circuit Judge.\nThis dispute between G...
12    LOGAN, Circuit Judge.\nPlaintiffs Richard E. N...
Name: opinions, dtype: object

In [49]:
df.head()

,case_id_numbers,case_names,decision_dates,court_names,case_urls,opinions,tokens
0,466,"De Jesus v. Sears, Roebuck & Co.",1996-06-25,United States Court of Appeals for the Second ...,https://cite.case.law/f3d/87/65/,"MAHONEY, Circuit Judge:\nPlaintiffs-appellants...",mahoney circuit judge plaintiff appellant ...
1,495,Competitive Telecommunications Ass'n v. Federa...,1996-07-05,United States Court of Appeals for the Distric...,https://cite.case.law/f3d/87/522/495/,Opinion for the Court filed by Circuit Judge D...,opinion for the court file by circuit judge ha...
10,893,Calderon v. U.S. District Court,1996-12-20,United States Court of Appeals for the Ninth C...,https://cite.case.law/f3d/103/72/,"PER CURIAM:\nArthur Calderon, Warden of the Ca...",per curiam arthur calderon warden of the c...
11,982,"Geske & Sons, Inc. v. National Labor Relations...",1997-01-09,United States Court of Appeals for the Seventh...,https://cite.case.law/f3d/103/1366/,"RIPPLE, Circuit Judge.\nThis dispute between G...",ripple circuit judge this dispute between ...
12,992,Norton v. Village of Corrales,1996-12-23,United States Court of Appeals for the Tenth C...,https://cite.case.law/f3d/103/928/,"LOGAN, Circuit Judge.\nPlaintiffs Richard E. N...",logan circuit judge plaintiff richard e ...

# Tokenize

In [5]:
import spacy
nlp = spacy.load("en_core_web_lg")

In [20]:
spacy_stopwords = spacy.lang.en.stop_words.STOP_WORDS

In [21]:
spacy_stopwords.add('\n')
spacy_stopwords.add(':')
spacy_stopwords.add('')

In [26]:
import re

def tokenize(text):
    
    text = text.lower()
    text = re.sub(r'[^a-zA-Z ^0-9]', ' ', str(text))
    doc = nlp.tokenizer(text)
    
    lemmas = [token.lemma_ + ' ' for token in doc]
    
    cleaned = []
    for token in lemmas:
        if token not in spacy_stopwords:
            cleaned.append(token)
            
    return ''.join(cleaned)

df['tokens'] = df['opinions'].apply(lambda x:tokenize(x))

df['tokens'].head()

0     mahoney   circuit judge   plaintiff appellant ...
1     opinion for the court file by circuit judge ha...
10    per curiam   arthur calderon   warden of the c...
11    ripple   circuit judge   this dispute between ...
12    logan   circuit judge   plaintiff richard e   ...
Name: tokens, dtype: object

# Vectorize

## Term Frequency-Inverse Document Frequency (TF-IDF)

â€œThe term frequency of a term given a document, $tf(t,d)$, can be the boolean frequency (as in one-hot encoding, 1 if 
$t$ occurs in $d$ 0 otherwise), or the count. However, generally both the term frequency and inverse document frequency are scaled logarithmically to prevent bias of longer documents or terms that appear much more frequently relative to other terms: $tf(t,d) = 1 + \log(f)_{t,d}$.
Similarly, the inverse document frequency of a term given the set of documents can be logarithmically scaled as follows: $idf (t,D) = \log 1+ \frac{N}{n_t}$, where $N$ is the number of documents and $n_t$ is the number of occurrences of the term $t$ in all documents. TFâ€“IDF is then computed completely as 
$$tfidf(t,d,D) = tf(t,d) * idf(t,D)$$

Because the ratio of the $id f \log$ function is greater or equal to 1, the TFâ€“IDF score is always greater than or equal to zero. We interpret the score to mean that the closer the TFâ€“IDF score of a term is to 1, the more informative that term is.

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=5000)
dtm = tfidf.fit_transform(df['tokens'].tolist())

docs = pd.DataFrame(dtm.todense(), columns = tfidf.get_feature_names())
docs.head()

,00,000,01,02,03,07,08,09,10,100,...,york,you,young,your,zahn,zenith,zetterstrom,zigzag,zinc,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002515,0.004256,...,0.013894,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.006346,0.004603,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002463
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004511,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005294,0.001493,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.137655

In [67]:
for col in docs.columns:
    if docs[col].sum() > .7:
        print(col, docs[col].sum())

000 0.7116482141421662
15 0.8243289778526378
1972 0.8228086939879906
2d 3.0640224600652903
act 2.888576348288579
action 1.7483973884141593
against 0.8980134636742109
agreement 1.4461741378605928
all 1.2471511362361976
allege 0.9911186824796159
also 1.223086037028893
amendment 0.7364863784719232
and 13.430980724566734
antitrust 1.0434484259547856
any 2.0926406829703863
appeal 1.1028027823986266
apply 0.8176286654923184
at 4.711713878180744
attorney 1.1189817444258807
award 0.7084344512297354
bank 1.4417004007299008
be 19.509626950847107
because 1.195453840401732
between 0.7164743189088653
business 0.8650091902720293
but 1.2266171708650042
by 5.031684826886623
can 1.5382475862718465
carrier 0.7038386469185083
case 2.1741126620089535
cir 1.6528390124101797
claim 2.383647182606094
class 0.7243601204046918
co 1.3460174446707847
commerce 1.1746917125674623
commission 1.913707351026875
company 0.9674124389980734
competition 0.9849027163461703
complaint 0.9125793432018084
conduct 0.7309063362323661
congress 0.9781606184190982
contract 1.4616568001064025
corp 0.7390330332167752
corporation 0.894381753429004
cost 1.0926774192382025
count 0.7704787416582581
court 5.0906912589533375
ct 1.6129110668213964
customer 0.7040350831835014
damage 1.2542515337624387
decision 0.7407920545717307
decree 0.7314582074299618
defendant 2.525492192579507
deny 0.8262238921224614
dismiss 0.769313640688413
district 1.983892005488436
do 1.7295876957822678
doe 0.9527206123366514
dr 0.7928033263707005
ed 1.142873920990897
effect 0.7404446013017155
employee 0.8582969240732963
evidence 0.9964015457052413
fact 0.9532712462452874
fcc 0.8433696298792641
federal 1.1663508045482596
fee 1.3034698976226116
file 0.9574088622073749
find 0.9788882953874543
for 6.03192420523017
from 2.6456889101206746
ftc 0.7034830169777685
fund 0.7672097994715958
government 0.9642545360532062
grant 0.734871042609698
have 6.667749852095744
he 1.0139237568856472
his 1.1614412831583423
hold 1.171233780442265
hour 0.7219654847589876
however 0.8044624051359122
if 1.2777190892850665
in 14.606084777798818
inc 1.120483975984162
injury 0.7820489663287673
interest 0.9785724733796265
interstate 0.7253923782434417
issue 1.3831276501141552
it 4.231457223496982
its 2.717450843614656
judgment 1.1165034094361568
jurisdiction 0.9120080981139366
jury 1.062193628439725
law 1.8218828519061758
license 0.9009751809858514
loan 0.7317317990665965
make 1.2935548577368403
market 1.7865066274308008
may 1.7591533625042777
motion 1.2239612019194805
much 1.1228385423780294
must 0.8778561016625992
new 0.8390383647725815
no 1.8464665961577245
not 5.683413999945128
of 27.25284988098633
on 4.6280055115429155
one 1.1226704495857929
only 1.194565360227576
or 5.200517336919099
order 1.8361237799401708
other 1.6773018359309706
part 0.7219934389970987
party 1.115773573644467
patent 1.0805354575724395
petitioner 1.1799679054856966
plaintiff 4.048222479680679
policy 0.7763992477303926
power 0.7959181408932514
price 1.5834140168777358
product 1.0230763949264805
pron 0.8548616670343258
provide 0.9506276488882285
provision 0.8039390548183574
public 0.8123642127585309
question 0.7609179324832965
rate 1.206777151360115
require 0.9325127929197453
respondent 0.7972279790703376
rico 0.760878294898934
right 1.210042003919021
rule 1.4182865587105715
sale 0.8338932328772408
sec 0.8793581244141064
section 1.30117943831934
see 1.940171859216228
sell 0.8198057282059346
service 1.5181276001781079
shall 0.7737051733396889
sherman 0.7885639728384223
should 0.8085848738831655
so 0.7674212255727427
state 3.8895020430758414
statute 1.0609458652086878
such 1.6034262223473892
summary 0.7949371220807818
supp 0.9079803430544197
supra 0.8155650073462875
than 0.9309675802560102
that 12.733707339387085
the 51.53145043745024
their 1.4324088478346217
there 0.9936672783899833
they 1.252743412740207
this 5.223089181593939
tie 0.7437340115602846
time 1.0928199340916156
to 19.846114668620256
trade 0.8895751274284275
trial 0.9952706582551878
two 0.7250225222458239
under 1.8409370730245311
union 0.8943682631297075
unite 1.741167107789095
upon 0.7951478821710939
use 1.0096974625012043
violation 0.8061683486132577
we 2.6022489394864396
when 0.8206936449361331
whether 1.0204512039466116
which 2.7775407800280423
will 0.9388049211747159
with 3.0781016197078106
within 0.75163690565514
would 2.6639006745854825

In [63]:
from sklearn.neighbors import NearestNeighbors

neighbors = NearestNeighbors(n_neighbors = 10, algorithm = 'ball_tree')

neighbors.fit(dtm.todense())
results = neighbors.kneighbors(docs.iloc[[0]])
results

(array([[0.        , 0.86205343, 0.86369088, 0.8665168 , 0.88033361,
         0.89490898, 0.90323447, 0.90411347, 0.90541258, 0.90769336]]),
 array([[ 0, 47, 40, 95, 82, 14, 39, 75, 43, 57]]))

In [64]:
for i in results[1][0]:
    print(df['case_names'].iloc[[i]], '\n')

0    De Jesus v. Sears, Roebuck & Co.
Name: case_names, dtype: object

51    Great Northern Ry. Co. v. Brosseau
Name: case_names, dtype: object

45    City of Lafayette v. Louisiana Power & Light Co.
Name: case_names, dtype: object

95    Management Investors v. United Mine Workers
Name: case_names, dtype: object

83    Rodriguez v. Banco Central
Name: case_names, dtype: object

21    Mullen v. Sweetwater Development Corp.
Name: case_names, dtype: object

44    National Society of Professional Engineers v. ...
Name: case_names, dtype: object

77    Federal Maritime Commission v. Seatrain Lines,...
Name: case_names, dtype: object

48    Vermont Yankee Nuclear Power Corp. v. Natural ...
Name: case_names, dtype: object

60    United States Steel Corp. v. Fortner Enterpris...
Name: case_names, dtype: object